.countries {
	 
		display: flex;
		flex-wrap:wrap;
		padding-top: 130px;
		ul{
			padding: 15px;
			flex: 1 0 15%;
			min-width: 200px;
			border: 1px solid transparent;
			border-radius: 25px;
			transition: 0.4s;
			margin: 10px 20px;
			transform: scale(1);
			display: grid;

			
			&:hover{
				transform: scale(1.05);
				border: 1px solid whitesmoke;
				color: white;
			}

		}
	img{
		width: 200px;
		height: auto;
	}
	
	li{
		font-size: 1.2rem;
		padding: 5px;
	}
	
}