.footer {
	h4{
		padding-left: 10px;
		position: absolute;
		top:95%
	}
	img{
		background-color: white;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		padding: 3px;
		position: absolute;
		top: 93%;
		left:94%;
	}
	.git {
		left: 90%;
	}
}