.navigation {
	ul{
		margin-top: 9%;
		display: flex;
		justify-content: space-around;
	}
	li {
		text-align: center;
		font-size: 2rem;
		padding: 10px;
		transition: 0.2s;
		border-radius: 20px;
		height: 5%px;
		width: 10%;
		

		&:hover {
			color: $white;
			background-color: black;
			border: 1px solid rgba(255, 255, 255, 0.267);
		}
	}
}